.profile-box {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  .profile-box img {
    width: 100px;
    height: 100px;
  }
  
  .profile-box h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-color: rgb(100, 200, 150);
  }