body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.profile-box {
  margin: 0;
  display:grid;
  transform: scale(0.75);
}
.profile-box > img {
  margin: 0;
  /* transform: scale(0.75); */
  width: 46px;
  height: 44px;
}
prof {
  position: absolute;
  top: 3rem;
  left: 45rem;
  font-weight: bold;
  font-size: 50px;
}
email {
  background-color: #1DB954;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2rem;
  position: absolute;
  top: 200px;
  right: 100px;
}
turma {
  background-color: #1DB954;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2rem;
  position: absolute;
  top: 270px;
  right: 100px;
}
curso {
  background-color: #1DB954;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2rem;
  position: absolute;
  top: 340px;
  right: 100px;
}