body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.profile-box {
  margin: 0;
  display:grid;
  transform: scale(0.75);
}
.profile-box > img {
  margin: 0;
  /* transform: scale(0.75); */
  width: 46px;
  height: 44px;
}
prof {
  position: absolute;
  top: 3rem;
  left: 45rem;
  font-weight: bold;
  font-size: 50px;
}
email {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 200px;
  right: 100px;
  transform:scale(1.25);
}
turma {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 250px;
  right: 100px;
  transform:scale(1.25);
}
curso {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  right: 100px;
  transform:scale(1.25);
}