:root{
    font-size:16px;
}
header{margin-bottom: 1rem;}
header img{
    width: 300px;
    height: auto;
}

#searchInput{

    margin-top: 1rem;
    width: 37.5rem; /* Aumenta a largura da barra de pesquisa */
    height: 3.125rem; /* Aumenta a altura da barra de pesquisa */
    padding: 0 0.9375rem; /* Adiciona mais espaçamento interno */
    font-size: 1.5625rem; /* Aumenta o tamanho da fonte */
    border: 1px solid #dfe1e5; /* Borda cinza clara */
    border-radius: 1.5rem; /* Mantém as bordas arredondadas */
    outline: none; /* Remove o contorno padrão ao focar */
    box-shadow: none; /* Sem sombra por padrão */
    transition: box-shadow 0.2s ease-in-out; /* Transição suave para o foco */
    background-color: #fff; /* Cor de fundo branco */
    margin-top: 10rem;
  
}
#searchInput:focus{
    border-color: #4285f4;
    box-shadow:0 0.0625rem 0.375rem rgba(32, 33, 36, 0.28);  }

h1{
   
    
    margin: 1rem; /* Remove margens para controle preciso */
}
#pessoa a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

body{
    
    padding: 0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
   
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 1rem;
    height: calc(100vh - 5rem); /* Ajusta a altura do main considerando o header e margens */
    padding-top: 1rem;
}
    

.search-input{
    font-family: "Montserrat", sans-serif;
    
}
.back{
 
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem; /* Cantos arredondados */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
 
}

.back:hover{
    background-color:#67ff9c;
}

.forward:hover{
    background-color:#67ff9c;
}

.forward{
    
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem; /* Cantos arredondados */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}



.modal{
    background-color:rgba(29, 185, 84, 0.9); /* Fundo semi-transparente escuro */
    position: fixed; 
    z-index: 1000; /* Certifique-se de que o modal esteja acima de outros conteúdos */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    width: 80%; 
    max-width: 600px; /* Define um limite máximo de largura */
    height: auto; 
    border-radius: 20px;
    display: none; /* Escondido por padrão */
    padding: 2rem; /* Adiciona espaçamento interno */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra para destacar o modal */
    font-family: 'Montserrat', sans-serif; /* Define a fonte para o modal */
    font-size: 1.3rem;
}
.modal-content {
    background-color: #fff; /* Cor de fundo branca para o conteúdo */
    padding: 1.5rem; /* Espaçamento interno do conteúdo */
    border-radius: 10px; /* Cantos arredondados */
    position: relative; /* Necessário para posicionar o botão de fechar */
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem; /* Tamanho maior para o botão de fechar */
    color: #333; /* Cor escura para o botão de fechar */
    cursor: pointer; /* Cursor de pointer para indicar que é clicável */
    transition: color 0.3s ease; /* Transição suave para a cor do botão */
}
.close:hover {
    color: #f00; /* Muda a cor para vermelho quando o cursor passa sobre o botão */
}
.modal p {
    margin: 0; /* Remove a margem padrão dos parágrafos */
    color: #333; /* Cor do texto no modal */
}

#pessoa{
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem; /* Cantos arredondados */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
}
#pessoa:hover{
    background-color:#67ff9c;
}

.mostrador-pagina{
    color: black
}