:root{
    font-size:16px;
}
body{
    margin:0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    border: 2px solid;
}
.search-input{
    font-family: "Montserrat", sans-serif;
}
.back{
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem; /* Cantos arredondados */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
 
}

.forward{
    background-color: #1DB954;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem; /* Cantos arredondados */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

