body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #ffcccc; /* Fundo rosa claro */
    color: #ff0000; /* Texto em vermelho */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-width: 200px; /* Tamanho máximo de 200 pixels */
    height: auto;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; /* Alinha à direita */
    width: 230px; /* Ajuste conforme necessário */
    margin-right: 20px; /* Espaço para a direita */
}

input[type="text"] {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%; /* Ajuste conforme necessário */
    font-size: 12px; /* Tamanho da fonte reduzido */
}

button[type="submit"] {
    background-color: #f2f2f2;
    border: none;
    padding: 4px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ddd;
}

.search-icon {
    width: 16px; /* Tamanho do ícone reduzido */
    height: 16px; /* Tamanho do ícone reduzido */
}

h1{
    margin-left: 25rem;
    font-size: 12;
    color: black;
}
.teacher-box {
    background-color: white;
    border: 3px solid red;
    border-radius: 15px; /* Ajuste este valor para controlar a curvatura da borda */
    padding: 30px;
    width: 350px; /* Ajuste este valor conforme necessário */
    text-align: center;
}

.teacher-box img {
    width: 150px; /* Ajuste este valor conforme necessário */
    height: 150px; /* Ajuste este valor conforme necessário */
    border-radius: 50%;
    margin-bottom: 20px;
}

.teacher-box h2 {
    color: black; /* Ou a cor desejada para o nome */
}

.teacher-box p {
    color: black; /* Ou a cor desejada para a matéria */
    font-style: italic;
}
